html {
  background-color: aliceblue;
}

body {
  margin: 0;
  padding: 0;
}

.content {
  height: 100vh;
  background-color: #efefef;
  padding: 5%;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 5%;
  justify-content: space-between;
}

.search-card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.search-card:hover {
  transform: scale(1.05);
}

.search-section {
  border: 2px solid #878383;
  width: 60%;
  background-color: #3330;
  padding: 5px 0px;
  border-radius: 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-height: 25px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5), 0 0 0 1px #333
}

.search-container {
  flex: 1;
  overflow: hidden;
}

#query {
  background-color: transparent;
  flex: 1;
  border: none;
  outline: none;
}

.combobox select:focus {
  outline: none;
}


.search-container {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
}

#exa-icon {
  border-radius: 200px;
  width: 200px;
  height: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 0 2px #d3cccc;
  display: block;
  margin: 0 auto;
  transition: opacity 2.0s ease-in-out;
}


.header {
  margin-top: 8%;
}

#search-select {
  background-color: transparent;
  color: #366fa1;
  font-weight: bold;
  padding: 4px;
  border: none;
}

button[type="submit"] {
  margin-left: 5px;
  background-color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: grey;
}



.floatting {
  animation: float 3s ease-out infinite;
}

@keyframes float {
  50% {
    transform: translate(45, 0px);
  }
}

.card {
  width: 350px;
  height: 220px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 300ms;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card .content {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  padding: 30px 20px 20px 20px;
  height: auto;
  bottom: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
}

.card .title {
  margin: 0;
  font-style: italic;
  text-align: center;
  padding: 8px 20px;
  background-color: black;
  border-radius: 0 0 20px 20px;
  margin-bottom: -10px;
  font-size: 15px;
  color: #fff;

}

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, .8);
  overflow: auto;
}

.modal-box {
  position: relative;
  width: 80%;
  max-width: 920px;
  margin: 100px auto;
  animation-name: modalbox;
  animation-duration: .4s;
  animation-timing-function: cubic-bezier(0, 0, .3, 1.6);
}

.modal-header {
  padding: 20px 40px;
  background: #546E7A;
  color: #ffffff;
}

.modal-body {
  background: #ECEFF1;
  padding: 60px 40px;
}

.close-modal {
  text-align: right;
  cursor: pointer;
}

@-webkit-keyframes modalbox {
  0% {
    top: -250px;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes modalbox {
  0% {
    top: -250px;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

.modal-trigger {
  top: 50%;
  left: 50%;
  padding: 20px 40px;
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  text-decoration: none;
}

.modal-trigger:hover {
  padding: 20px 60px;
}

.modal-area {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
}